<p-toolbar styleClass="w-full">
  <div class="p-toolbar-group-start">
    <div class="mx-4">
      <h3 class="font-medium text-2xl">Products</h3>
    </div>
    <!-- <p-button icon="pi pi-plus" class="mr-2" />
    <p-button icon="pi pi-print" class="mr-2" />
    <p-button icon="pi pi-upload" /> -->
  </div>
  <div class="p-toolbar-group-center">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        [(ngModel)]="productSearchValue"
        (ngModelChange)="emitSeachValue()"
        placeholder="Search Products"
      />
    </span>
  </div>
  <div class="p-toolbar-group-end">
    <!-- <p-splitButton label="Save" icon="pi pi-check" [model]="items" /> -->
    <p-dropdown
      showClear="true"
      [options]="categories"
      [(ngModel)]="selectedCategory"
      placeholder="Select a category"
      (ngModelChange)="emitCategory()"
    />
  </div>
</p-toolbar>
