@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
// @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/themes/lara-light-purple/theme.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
  box-sizing: border-box;
  font-size: 14px;
}
