<div
class="flex justify-content-center align-items-center border-top-3 border-purple-300 border-round-md border-noround-top bg-white w-full lg:w-6"
[style]="{ color: 'black' }"
>
<div
  class="flex-grow-1 flex justify-content-center align-items-center mx-2 w-7 text-lg"
>
  <span style="display: inline-block; width: 100%"
    >Powered by
    <span style="display: inline-block; width: 100%">
      <p-button [link]="cameoLink"
        ><span class="font-semibold text-xl"
          >Cameo Corporate Services Limited</span
        ></p-button
      >
    </span></span
  >
</div>
<div
  class="flex-none border-left-2 border-primary-500 w-3 flex justify-content-center align-items-center pt-0 border-round-3xl align-self-end"
>
  <img
    alt="Card"
    style="max-height: 100px; max-width: 100px; scale: 0.5"
    src="../../../../../assets/images/camLogo.jpg"
  />
</div>
</div>