<div class="surface-card p-4 shadow-2 border-round">
    <div class="text-3xl font-medium text-900 mb-3">Online Payments</div>
    <div class="font-medium text-500 mb-3 text-justify">This online payment system is provided by <b>Cameo Corporate Services Limited</b> . <b>Cameo Corporate Services Limited</b> may update these terms from time to time and any changes will be effective immediately on being set out here. Please ensure you are aware of the current terms. The country of domicile for <b>Cameo Corporate Services Limited</b> is India.</div>
    
    
    <div class="text-3xl font-medium text-900 mb-3">Terms and Conditions</div>
    <div class="font-medium text-500 mb-3 text-justify">Please read these terms carefully before using the online payment facility. Using the online payment facility on this website indicates that you accept these terms. If you do not accept these terms do not use this facility.</div>

    <div class="text-3xl font-medium text-900 mb-3">All payments are subject to the following conditions:-</div>
    <div class="font-medium text-500 mb-3 text-justify">The description of services of match making are specific to your need, when you log in with your unique password. Normally payment is required in advance (i.e. before you commence your activity).<ul class="list-disc">
            <li>All Fees quoted are in Indian Rupees. The <b>Cameo Corporate Services Limited</b> reserves the right to change the fees at any time.</li>
            <li>Your payment will normally reach the <b>Cameo Corporate Services Limited</b> account to which you are making a payment within one working days. On the date of issue closing, the payment would be credited on the same day.</li>
            <li>We cannot accept liability for a payment not reaching the correct <b>Cameo Corporate Services Limited</b> account due to you quoting an incorrect account number or incorrect personal details.</li>
            <li>You should check with your bank that payment has been deducted from your account.</li>
            <li>In no event will the <b>Cameo Corporate Services Limited</b> be liable for any damages whatsoever arising out of the use, inability to use, or the results of use of this site, any websites linked to this site, or the materials or information contained at any or all such sites, whether based on warranty, contract, tort or any other legal theory and whether or not advised of the possibility of such damages.</li>
        </ul>
    </div>
    
    <div class="text-3xl font-medium text-900 mb-3">Refund Policy</div>
    <div class="font-medium text-500 mb-3 text-justify">
        <ul class="list-disc">
            <li>If the Customer leaves the <b>Cameo Corporate Services Limited</b> before they complete their service period, there shall be no entitlement to a refund of paid service fees.</li>
            <li>Refunds, if applicable, at the discretion of the Management, will only be made to the debit/credit card used for the original transaction. For the avoidance of doubt nothing in this Policy shall require the <b>Cameo Corporate Services Limited</b> to refund the Fees (or part thereof) unless such Fees (or part thereof) have previously been paid.</li>            
        </ul>
    </div>
    
    <div class="text-3xl font-medium text-900 mb-3">Privacy Policy</div>
    <div class="font-medium text-500 mb-3 text-justify">
        <ul class="list-disc">
            <li>This Privacy Policy applies to all of the products, services and websites offered by <b>Cameo Corporate Services Limited</b> . Sometimes, we may post product specific privacy notices or Help Centre materials to explain our products in more detail.</li>
            <li>If you have any questions about this Privacy Policy, please feel free to contact us through our website or write to us at <i>stampduty&#64;cameoindia.com</i></li>       
        </ul>
    </div>
    
    <div class="text-3xl font-medium text-900 mb-3">Changes to our Privacy Policy</div>
    <div class="font-medium text-500 mb-3 text-justify"><b>Cameo Corporate Services Limited</b> reserves the entire right to modify/amend/remove this privacy statement anytime and without any reason. Nothing contained herein creates or is intended to create a contract/agreement between <b>Cameo Corporate Services Limited</b> and any user visiting the <b>Cameo Corporate Services Limited</b> website or providing identifying information of any kind.</div>
    
    <div class="text-3xl font-medium text-900 mb-3">DND Policy</div>
    <div class="font-medium text-500 mb-3 text-justify">If you wish to stop any further sms/email alerts/contacts from our side, all you need to do is to send an email:- stampduty&#64;cameoindia.com with your mobile numbers and you will be excluded from the alerts list.</div>

    <div class="text-3xl font-medium text-900 mb-3">Contact Details</div>
    <div class="font-medium text-500 mb-3">Email : stampduty&#64;cameoindia.com</div>
    
    <p-messages severity="info">
        <ng-template pTemplate>
            <div >© 2022 - Cameo Corporate Services Limited</div>
        </ng-template>
    </p-messages>
</div>